@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    touch-action: pan-y;
    background: #FEFEFE;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.2;
}

input,
select,
button,
textarea,
.slick-slide {
    border: none;
    outline: none !important;
}
input,
select,
button{
    border: none;
}
a {
    text-decoration: none !important;
    transition: 0.3s;
}
.mt-15{
    margin-top: 15px;
}
.mb-15{
    margin-bottom: 15px;
}
.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mb-40{
    margin-bottom: 40px;
}

.bold {
    font-weight: 700 !important;
}
.medium{
    font-weight: 500 !important;
}

.more-content {
    display: none;
}

.green {
    color: #0DC268 !important;
}

.grey {
    color: #919399 !important;
}

.blue {
    color: #2D84EC !important;
}

.container {
    max-width: 1200px;
}

.header {
    position: relative;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 4px 0;
}

.header-row {
    display: flex;
    align-items: center;
}

.header-bars {
    cursor: pointer;
}

.header-logo {
    margin: 0 29px 0 13px;
}

.logo {
    display: block;
}

.header-search {
    position: relative;
}

.search-input {
    background: #FAFAFA;
    width: 348px;
    height: 32px;
    padding-left: 34px;
    font-size: 14px;
    color: #AEAEAE;
    padding: 0 10px 0 34px;
    border-radius: 16px;
    line-height: 3;
}

.header-search-icon {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.header-abs {
    position: absolute;
    right: 90px;
    top: 12px;
    display: flex;
    align-items: center;
}

.header-toggle {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 5;
}

.header-course {
    cursor: pointer;
}

.header-course-title {
    font-size: 14px;
    line-height: 1;
}

.header-language {
    margin-left: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header-toggle-block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 52px;
    box-shadow: 0 0 20px #E1E1E1;
    background: #fff;
    border-radius: 16px;
    padding: 15px 10px;
    width: 236px;
    display: none;
    animation: show 0.3s;
    z-index: 1;
}

.header-toggle-block.active {
    display: block;
}

.header-toggle.active .header-toggle-block {
    display: block;
}

.header-toggle-block-item+.header-toggle-block-item {
    margin-top: 12px;
}

.header-toggle-block-title {
    font-size: 14px;
    margin-bottom: 11px;
}

.header-toggle-block-select {}

.select-block {
    position: relative;
}

.select-block-header {
    position: relative;
    border-radius: 19px;
    border: 1px solid #E1E1E1;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.select-block-arrow {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.select-block-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    transition: 0.3s;
    cursor: pointer;
    width: 100%;
    background: transparent;
}

.select-block-header .select-block-item {
    height: 38px;
}

.select-block-footer .select-block-item:hover {
    background: #2D84EC;
    color: #fff;
}

.select-block-item-icon {
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.select-block-item-title {
    font-size: 13px;
}


.select-block-footer {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 16px;
    padding: 15px 0;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 100%;
    width: 100%;
    display: none;
}


.header-avatar {
    margin-left: 24px;
}




.bottom-menu-block {
    margin-top: 24px;
    margin-bottom: -4px;
}

.bottom-menu {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.bottom-menu::-webkit-scrollbar {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    display: none;
}

.bottom-menu-item {
    padding-bottom: 10px;
    display: block;
    position: relative;
    min-width: 100px;
}

.bottom-menu-item.active:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    background: #FF179D;
}

.bottom-menu-link {
    color: #7F7F7F;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-menu-link:hover {
    color: #FF169B;
}

.bottom-menu-item.active .bottom-menu-link {
    font-weight: 600;
    color: #FF169B;
}

.bottom-menu-link img {
    display: none;
    animation: show 0.3s;
    margin-right: 8px;
}

.bottom-menu-link img:last-child {
    display: block;
}

.bottom-menu-item.active .bottom-menu-link img {
    display: block;
}

.bottom-menu-item.active .bottom-menu-link img:last-child {
    display: none;
}

.bottom-menu-text {
    line-height: 2;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.menu-block {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9;

}

.menu-block-shadow {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.menu-left {
    background: #FFFFFF;
    max-width: 318px;
    padding: 4px 20px 0 20px;
    position: relative;
    z-index: 20;
    height: 100%;
}


.menu-left-header {
    display: flex;
    align-items: center;
}

.menu-left-header-logo {
    margin-left: 13px;
}

.menu-left-header-bars {
    cursor: pointer;
}

.menu-left-search {
    margin-top: 14px;
}

.menu-left-search .search-input {
    width: 100%;
}

.menu-left-account {
    display: flex;
    align-items: center;
    margin: 25px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid #F8F8F8;
}

.menu-left-account-icon {
    border-radius: 50%;
    padding: 6px;
    border: 2px solid #2D84EC;
}

.menu-left-account-icon img {
    width: 32px;
    height: 32px;
}

.menu-left-account-title {
    margin-left: 22px;
    font-size: 16px;
    color: #2D84EC;
}

.menu-left-account-more {
    cursor: pointer;
    margin-left: auto;
}


.menu-left-option {
    padding: 0 10px;
}

.menu-left-option+.menu-left-option {
    margin-top: 30px;
}

.menu-left-option-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-left-option-header-title {
    font-size: 15px;
    color: #2C2D2E;
    margin-left: 12px;
}

.menu-left-option-header-icon {
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.menu-left-option-header.active .menu-left-option-header-icon {
    transform: rotate(180deg);
}

.menu-left-option-content {
    position: relative;
    padding: 24px 0;
    margin-top: 25px;
    display: none;

}

.menu-left-option-content:after {
    content: "";
    display: block;
    position: absolute;
    left: -30px;
    top: 0;
    background: #F9F9F9;
    width: calc(100% + 60px);
    height: 100%;
}

.menu-left-option-content-item {
    position: relative;
    z-index: 1;
    font-size: 14px;
    color: #2C2D2E !important;
    display: block;
}

.menu-left-option-content-item:hover {
    opacity: 0.6;
}

.menu-left-option-content-item+.menu-left-option-content-item {
    margin-top: 26px;
}

.menu-left-footer {
    border-top: 1px solid #F8F8F8;
    margin-top: 38px;
    padding: 38px 10px 0 10px;
}

.menu-left-footer-link {
    font-size: 15px;
    color: #2C2D2E !important;
    display: block;
}

.menu-left-footer-link+.menu-left-footer-link {
    margin-top: 30px;
}

.menu-left-footer-link:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1200px) {
    .header-abs {
        position: static;
        margin-left: auto
    }

    .header-toggle-block {
        transform: none;
        right: -50px;
        left: auto;
    }
}

@media screen and (max-width: 992px) {
    .nine-none {
        display: none !important;
    }

    .search-input {
        width: 320px;
    }

}

@media screen and (max-width: 768px) {
    .seven-none {
        display: none !important;
    }

    .header-search {
        display: none;
    }

    .menu-left-search.header-search {
        display: block;
    }
}

@media screen and (max-width: 574px) {
    .five-none {
        display: none !important;
    }

    .header-course,
    .header-avatar {
        display: none;
    }

    .header-language {
        margin: 0;
    }

    .header-toggle-block {
        right: 0;
    }

    .header-logo {
        margin: 0 auto;
    }

    .header-abs {
        margin: 0 5px 0 0;
    }


}


.footer {
    position: relative;
    box-shadow: 0 0 10px rgba(162, 162, 162, 0.13);
    padding: 20px 0 40px 0;
    color: #C9C9C9;
    background: #fff;
}

.footer .row {
    align-items: center;
}

.f-link {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.f-link-item+.f-link-item {
    margin-left: 40px;
}

.f-link-item {
    font-size: 14px;
    color: #065FD4 !important;
}

.f-link-item:hover {
    opacity: 0.6;
}

.f-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border: 1px solid #FAFAFA;
    border-left: none;
    border-right: none;
    margin: 20px 0 30px 0;
}

.f-block-title {
    font-size: 11px;
}

.f-inner {
    text-align: center;
}

.f-inner-text {
    font-size: 10px;
    max-width: 626px;
    margin-left: auto;
    margin-right: auto;
}

.f-inner-text+.f-inner-text {
    margin-top: 55px;
}

.f-soc {
    display: flex;
    align-items: center;
    margin-left: 36px;
}

.f-soc-item+.f-soc-item {
    margin-left: 12px;
}

.f-soc-item:hover {
    opacity: 0.6;
}

@media screen and (max-width: 574px) {
    .f-logo-block {
        text-align: center;
        margin-bottom: 20px
    }

    .f-link {
        flex-wrap: wrap;
        justify-content: flex-start;
        border-top: 1px solid #FAFAFA;
        padding-top: 20px
    }

    .f-link-item {
        width: 50%;
        text-align: center;
    }

    .f-link-item+.f-link-item {
        margin-left: 0
    }

    .f-inner-text+.f-inner-text {
        margin-top: 40px
    }

    .f-block {
        display: block;
        text-align: center;
    }

    .f-soc {
        margin-left: 0;
        justify-content: center;
        margin-top: 12px
    }
}