.lol {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    display: flex;
    align-items: center;
}

.lol::-webkit-scrollbar {
  width: 0;
  height: 0;
  -webkit-appearance: none;
}
.lol-item {
  min-width: 200px;
  height: 40px;
  background: red;
  border-right: 1px solid grey;
}

body{
    background: yellow;
}
